# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

timemeasurement
*.o
*/bin/*
*/test/*
*/obj/*
.vscode
*.json
testdata.txt
dnsperf
*.key
*.pem
*.csr
*.crt
*.pyc
*.derb64
*.der
certstorage.txt
signature
msg
rrsig.txt
hodtls_server
hodtls_client
tmp
dnsperf
