[Unit]
Description=ICN Name System Server Service
After=network.target

[Service]
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/ins-server
ExecReload=/usr/bin/ins-server
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target